---
layout: default
---

<h1><%= data.title %></h1>
<% if data.bgg %>
<quote>
  <a href="<%= data.bgg %>">on BoardGameGeek</a>
</quote>
<% end %>

<% game_files = site.static_files.select { |f| f.path.include?("/#{data.slug}/") } %>

<% 0.upto(99) do |n| %>
  <% batch = game_files.select { |f| f.path.match(/\b0*#{n}[a-z]\b/) } %>
  <% if batch.any? %>
    <div class="rulebook">
      <% batch.each do |file| %>
        <img src="<%= file.relative_path %>" />
      <% end %>
    </div>
  <% end %>
<% end %>

<!--
<% site.static_files.each do |file| %>
  <% if file.path.include?("/#{data.slug}/") %>
    <%
    classes = if file.basename.end_with?("-2")
      "half-width"
    elsif file.basename.end_with?("-1")
      "quarter-width"
    else
      ""
    end
    %>
    <img class="<%= classes %>" src="<%= file.relative_path %>"/>
  <% end %>
<% end %>
-->
